@import "app-background.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "../fonts/font/flaticon.css";
@import "../fonts/vazir-fonts/fonts.css";


body {
    direction: rtl;
    font-family: "Vazir", serif !important;
    background-color: #f7fff7 !important;

}

.menu-text {
    text-align: center;
    border-bottom: solid 2px #1a535c;
    color: #1a535c;
    font-size: 30px;
    /*font-weight: bold;*/
    padding: 0px 10px 0px 10px;
}

.center-text {
    text-align: center;
}

.food-list-container {
    border-right: dashed 2px rgba(26, 83, 92, 0.9);
}

.food-item-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*width: 100%;*/
    height: 200px;
}

.cart-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-height: 300px;
}