@import "app-background.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "../fonts/font/flaticon.css";
@import "../fonts/vazir-fonts/fonts.css";


body {
    direction: rtl;
    font-family: "Vazir", serif !important;
    background-color: #f7fff7 !important;
}

