@import "header.css";
@import "../fonts/font/flaticon.css";
@import "../fonts/vazir-fonts/fonts.css";
@import "app-background.css";
@import "search-bar.css";

html {
  height: 100%;
}

body {
  width: 100%;
  direction: rtl;
  font-family: "Vazir" !important;
  background-color: #f7fff7 !important;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

.home-loghme-icon-img{
  width: 100% !important;
}


/* FOOD PARTY CAROUSEL */
.carousel {
  background: #FAFAFA;
}

.carousel-cell {
  width: 200px;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}