<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>
        li {
        	padding: 5px
        }
    </style>
</head>
<body>
    <ul>
        <li>id: 1</li>
        <li>full name: %fullName%</li>
        <li>phone number: +%phoneNumber%</li>
        <li>email: %email%</li>
        <li>credit: %credit% Toman</li>
        <form action="%fullName%/charge" method="POST">
            <button type="submit">increase</button>
            <input type="text" name="credit" value="" />
        </form>
    </ul>
</body>
</html>