<head>
    <link rel="stylesheet" href="../styles/font/flaticon.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<header>
    <div class="header">
        <div class="logout">logout</div>
        <div class="profile">profile</div>
        <div class="cart">cart</div>
    </div>
</header>


<div class="title-background">
    background
</div>


<div class="food-party">
    food party
</div>


<div class="restaurants-list">
    restaurants list
</div>


<footer>
    footer
</footer>