<head>
    <link rel="stylesheet" href="../styles/charge-styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<header>
    <div class="header">
        <div class="loghme-icon">
            <img src="../Assets/LOGO.png" alt="">
        </div>
        <div class="cart m-2">
            <i class="flaticon-smart-cart"></i>
        </div>
        <div class="logout m-2">
            خروج
        </div>
    </div>
</header>


<main>
    <div class="profile-info row">
        <div class="col-auto">
            <div class="name">
                <div class="profile-icon">
                    <i class="flaticon-account"></i>
                </div>
                <div class="name-text">
                    احسان خامس‌پناه
                </div>
            </div>
        </div>
        <div class="mr-auto col-auto h-auto">
            <div class="other-info h-100">
                <div class="phone row justify-content-center align-items-center">
                    <div>
                        <i class="flaticon-phone"></i>
                    </div>
                    <div>
                        ۰۹۱۲۳۴۵۶۷۸۹
                    </div>
                </div>
                <div class="email  row justify-content-center align-items-center">
                    <div>
                        <i class="flaticon-mail"></i>
                    </div>
                    <div>
                        ekhamespanah@yahoo.com
                    </div>
                </div>
                <div class="credit  row justify-content-center align-items-center">
                    <div>
                        <i class="flaticon-card"></i>
                    </div>
                    <div>
                        ۱۰۰۰۰ تومان
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>



<footer></footer>