<head>
    <link rel="stylesheet" href="../Assets/styles/charge-styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<header>
    <div class="header">
        <div class="loghme-icon  ml-auto">
            <img src="../Assets/images/LOGO.png" alt="">
        </div>
        <div class="cart m-2">
            <div class="cart-icon">
                <i class="flaticon-smart-cart"></i>
            </div>
            <div class="cart-items">
                <span>۳</span>
            </div>
        </div>
        <div class="logout m-2">
            خروج
        </div>
    </div>
</header>


<main>
    <div class="profile-info row no-gutters">
        <div class="col-auto">
            <div class="name">
                <div class="profile-icon">
                    <i class="flaticon-account"></i>
                </div>
                <div class="name-text">
                    احسان خامس‌پناه
                </div>
            </div>
        </div>
        <div class="mr-auto col-auto h-auto">
            <div class="other-info h-100">
                <div class="phone row justify-content-center align-items-center">
                    <div class="col-auto">
                        <i class="flaticon-phone"></i>
                    </div>
                    <div class="col-auto">
                        ۰۹۱۲۳۴۵۶۷۸۹
                    </div>
                </div>
                <div class="email  row justify-content-center align-items-center">
                    <div class="col-auto">
                        <i class="flaticon-mail"></i>
                    </div>
                    <div class="col-auto">
                        ekhamespanah@yahoo.com
                    </div>
                </div>
                <div class="credit  row justify-content-center align-items-center">
                    <div class="col-auto">
                        <i class="flaticon-card"></i>
                    </div>
                    <div class="col-auto">
                        ۱۰۰۰۰ تومان
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="orders-charge-wrapper">
        <div class="orders-charge">
            <div class="selector row">
                <div class="selector-item  col">
                    <span>
                        سفارش‌ها
                    </span>
                </div>
                <div class="selector-item active-item col">
                    <span>
                        افزایش اعتبار
                    </span>
                </div>
            </div>
            <div class="charge-form">
                <form action="">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-8 my-2">
                            <div>
                                <input type="text" placeholder="میزان افزایش اعتبار">
                            </div>
                        </div>
                        <div class="col-4 my-2">
                            <div>
                                <input type="submit" value="افزایش">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>


<footer>
    <div class="row no-gutters justify-content-center align-items-center footer-inner-box">
        <div class="col-auto">
            <div class="copy-right-icon rounded-border">
                <span>
                    c
                </span>
            </div>
        </div>
        <div class="col-auto">
            <div class="copy-right-text">
                <span>
                    تمامی حقوق متعلق به لقمه است.
                </span>
            </div>
        </div>
    </div>
</footer>